span {
    font-size: 6em;
    color: white;
    
    
    position: relative;
    
    
    
  }
  span:after {
   
    position: relative;
    content: attr(content);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
    /* -webkit-transition: all 750ms;
    -moz-transition: all 750ms;
    -o-transition: all 750ms;
    transition: all 750ms;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left; */
  }
  span:hover:after {
    /* -webkit-transform: skew(10deg, 25deg);
    -ms-transform: skew(10deg, 25deg);
    transform: skew(10deg, 25deg);
    transform: scaleY(5); */
    color: red;
    
    font-size: 1.2em;
  } 
  
  